/* font-styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap");
:root {
  --white: #ffffff;
  --primary-color: #fff4e7;
  --dark-2: #424242;
  --dark-3: #727272;
  --secondary-color: #ff900e;
  --dark-1: #131313;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}

/*---- common styles or utilities--- */
.nav-title,
.section2-header-title,
.section3-title,
.section4-title,
.span-2,
.contact-title {
  font-weight: 700;
  font-size: 45px;
  color: var(--dark-1);
}
.header-description,
.section2-body-description,
.section-1-description,
.section3-description,
.section4-description {
  color: var(--dark-3);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
.section1-title,
.section3-title,
.section4-title {
  margin-bottom: 25px;
}
.section2-body-title,
.section2-header-title {
  margin-bottom: 10px;
}

/*----- header styles 
-------------------*/
header {
  background-color: #fff4e7;
  padding-bottom: 50px;
}

/* nav-styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 240px 105px 230px;
}
.nav-info ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-info > ul > li {
  font-weight: 500;
  font-size: 18px;
  color: var(--dark-2);
}
.header-text {
  /* width: 862px; */
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}
.header-title {
  color: var(--dark-1);
  font-weight: 700;
  font-size: 65px;
  width: 100%;

  margin-bottom: 30px;
}

.button {
  /* margin-left: 50%; */
  color: white;
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 23px;
  font-weight: 600;
  font-size: 20px;
}
.header-image {
  display: flex;
  justify-content: center;
}
.header-image img {
  width: 1200px;
}

/*------ main styles
------------------ */
.section-1-container {
  display: flex;
  margin: 85px 150px;
  align-items: center;
  gap: 70px;
}
.section1-images > img {
  width: 342px;
  height: 342px;
}
.section1-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.section1-title .span-1 {
  color: var(--dark-3);
  font-weight: 500;
  font-size: 45px;
}
.section1-title .span3 {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 45px;
}

/*----- section-2-styles 
--------------------*/
.section-2-container {
  display: flex;
  align-items: center;
  padding-left: 240px;
  padding-right: 130px;
  gap: 50px;
}
.section2-body > .section2-body-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-1);
}
.section2-image {
  width: 800px;
  height: 1060px;
}
.section2-body {
  padding: 20px 30px;

  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(245, 245, 245, 0.993);
}
.section2-header-title {
  border-left: 5px solid var(--secondary-color);
  padding-left: 10px;
}
.section2-image > .button {
  position: relative;
  top: -92px;

  color: white;
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 10 px;
}

.btn.year {
  font-weight: 600;
  font-size: 45px;
}
.btn.exp {
  font-weight: 400;
  font-size: 30px;
}

/*------ section3 styles
----------------------- */
.facts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 90px 270px;
  gap: 30px;
}
.fact {
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 40px 20px;
  text-align: center;
}
.section3-text {
  margin-top: 100px;
  margin-left: 240px;
}
.fact > h3 {
  font-weight: 600;
  font-size: 45px;
  color: var(--dark-2);
}
.fact > p {
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-3);
}
.fact:hover {
  transform: scale(1.2);
  background-color: burlywood;
}

/*--------section=4 styles
------------------------- */
.section4-description {
  margin-top: 20px;
  text-align: center;
}
.section4-title {
  text-align: center;
}
.sponsers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 40px 220px;
}

/* contact section styles  */

.contact {
  width: 70%;
  margin: 70px auto;
  background-color: var(--primary-color);
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
}
.contact-container > input,
textarea {
  width: 50%;
  padding: 30px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
}
.contact > .button {
  position: relative;
  left: 25%;
  margin-top: 10px;
}
#text-field,
#email {
  font-size: 25px;
}

/*-------- final section styles
----------------------------- */
.final-section-container {
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-2);
  background-color: var(--primary-color);
  padding: 40px 200px;
  text-align: center;
  width: 70%;
  margin: 70px auto;
  border-radius: 10px;
}
.margin {
  margin-bottom: 200px;
}
.display {
  display: none;
}

/* media queries for small devices */

@media screen and (max-width: 576px) {
  /* nav and header  */
  nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin: 0;
    align-content: center;
    justify-items: center;
  }
  .nav-info ul {
    display: grid;
    grid: template columns 1fr;
    row-gap: 20px;
    justify-items: center;
  }
  .nav-info > ul > li {
    font-size: 28px;
  }
  .header-text {
    width: 90%;

    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
  }
  .header-title {
    font-size: 50px;
  }
  .header-image img {
    width: 100%;
  }
  /* section-1-styles  */
  .section-1-container {
    order: -1;
  }
  .section-1-container {
    display: grid;
    grid-template-columns: 1fr;

    align-content: center;
    justify-items: center;
    row-gap: 50px;
    margin: 0;
    padding: 0;
    /* margin: 60px 120px; */
  }
  .section1-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
  }
  .section1-text {
    grid-row: 1;
    padding: 10px;
  }
  .section1-images > img {
    width: 100%;
    height: 100%;
  }

  /* section-2-styles  */
  .section-2-container {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    padding: 0;
    margin: 0;
    row-gap: 20px;
  }
  .section2-text {
    padding: 10px;
  }
  .section2-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section2-image > img {
    width: 100%;
    height: 100%;
  }
  .section2-image > button {
    position: static;
    display: block;
    margin: 100px auto;
    text-align: center;
    width: 80%;
  }

  /* section3 style  */
  .section-3-container {
    margin-top: 250px;
  }
  .section3-text {
    margin-left: 20px;
    text-align: center;
  }
  .facts {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    margin: 0;
    padding: 0;
    justify-items: center;
    align-content: center;
  }

  /* section4-container  */
  .section4-title {
    margin-top: 50px;
  }
  .section4-text {
    text-align: center;
  }
  .section4-description {
    padding: 5px 30px;
  }

  .sponsers {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    padding: 0;
    margin: 0;
    justify-items: center;
    align-content: center;
  }

  /* contact styles  */
  .contact {
    width: 100%;
  }
  .contact-title {
    text-align: center;
    font-size: 35px;
  }
  .contact-container > input,
  textarea {
    width: 80%;
  }
  .contact > .button {
    position: static;
    display: block;
    margin: 10px auto;
  }

  .final-section-container {
    padding: 20px;
    font-size: 12px;
  }
}
