/* font-styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap");
:root {
  --white: #ffffff;
  --primary-color: #fff4e7;
  --dark-2: #424242;
  --dark-3: #727272;
  --secondary-color: #ff900e;
  --dark-1: #131313;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
/*----- header styles 
-------------------*/
header {
  background-color: #fff4e7;
  padding-bottom: 50px;
}

/* nav-styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 240px 105px 230px;
}
.nav-info ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
.nav-title,
.section2-header-title,
.section3-title,
.section4-title,
.span-2 {
  font-weight: 700;
  font-size: 45px;
  color: var(--dark-1);
}
.nav-info > ul > li {
  font-weight: 500;
  font-size: 18px;
  color: var(--dark-2);
}
.header-text {
  width: 862px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}
.header-title {
  color: var(--dark-1);
  font-weight: 700;
  font-size: 65px;

  margin-bottom: 30px;
}
.header-description,
.section2-body-description,
.section-1-description,
.section3-description,
.section4-description {
  color: var(--dark-3);
  font-weight: 400;
  font-size: 16px;

  margin-bottom: 30px;
}
.button {
  /* margin-left: 50%; */
  color: white;
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 23px;
  font-weight: 600;
  font-size: 20px;
}
.header-image {
  display: flex;
  justify-content: center;
}
.header-image img {
  width: 1200px;
}

/*------ main styles
------------------ */
.section-1-container {
  display: flex;
  margin: 85px 150px;
  align-items: center;
  gap: 70px;
}
.section1-images > img {
  width: 342px;
  height: 342px;
}
.section1-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.section1-title .span-1 {
  color: var(--dark-3);
  font-weight: 500;
  font-size: 45px;
}
.section1-title .span3 {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 45px;
}
.section1-title,
.section3-title,
section4-title {
  margin-bottom: 25px;
}

/*----- section-2-styles 
--------------------*/
.section-2-container {
  display: flex;
  align-items: center;
  /* border: 5px solid red; */
  padding-left: 240px;
  padding-right: 130px;
  gap: 50px;
}
.section2-body > .section2-body-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-1);
}
.section2-image img {
  /* height: 980px;
  width: 710px; */
}
.section2-image {
  /* border: 2px solid blue; */
  width: 800px;
  height: 1060px;
}
.section2-text {
  /* border: 2px solid yellow; */
}
.section2-body-title,
.section2-header-title {
  margin-bottom: 10px;
}
.section2-body {
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 20px;

  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(245, 245, 245, 0.993);
}
.section2-header-title {
  border-left: 5px solid var(--secondary-color);
  padding-left: 10px;
}
.section2-image > button {
  position: relative;
  top: -92px;
}
.year.btn {
  font-weight: 700;
  font-size: 65px;
  padding: 5px;
}
.exp.btn {
  font-weight: 400;
  font-size: 30px;
}

/*------ section3 styles
----------------------- */
.facts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 90px 270px;
  gap: 30px;
}
.fact {
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 40px 20px;
  text-align: center;
}
.section3-text {
  margin-top: 100px;
  margin-left: 240px;
}
.fact > h3 {
  font-weight: 600;
  font-size: 45px;
  color: var(--dark-2);
}
.fact > p {
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-3);
}
.fact:hover {
  transform: scale(1.2);
  background-color: burlywood;
  /* animation: scale 5 ease-in 0 5 alternate; */
}

/*--------section=4 styles
------------------------- */
.section4-description {
  margin-top: 20px;
  text-align: center;
}
.section4-title {
  text-align: center;
}
.sponsers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 40px 220px;
}
